<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.csrdu.bayyina" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pen_drive"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.csrdu.bayyina.SourceList"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.csrdu.bayyina.BayanList"
            android:label="@string/bayan_list_activity_name" >
        </activity>

        <provider
            android:name="org.csrdu.bayyina.helpers.SourceListProvider"
            android:authorities="org.csrdu.bayyina.sources.SourceListProvider" />
        <provider
            android:name="org.csrdu.bayyina.helpers.BayanListProvider"
            android:authorities="org.csrdu.bayyina.bayans.BayanListProvider" />

        <activity
            android:name="org.csrdu.bayyina.BayanDetailsActivity"
            android:label="@string/title_activity_bayan_details" >
        </activity>

        <service android:name=".service.SourceUpdateChecker" />
    </application>

</manifest>
