<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.csrdu.bayyina" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pen_drive"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.csrdu.bayyina.SourceList"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.csrdu.bayyina.BayanList"
            android:label="@string/bayan_list_activity_name"
            android:parentActivityName="org.csrdu.bayyina.SourceList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.csrdu.bayyina.SourceList" />
        </activity>
        <activity
            android:name="org.csrdu.bayyina.BayanDetailsActivity"
            android:label="@string/title_activity_bayan_details"
            android:parentActivityName="org.csrdu.bayyina.BayanList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.csrdu.bayyina.BayanList" />
        </activity>
        <activity
            android:name="org.csrdu.bayyina.SourceMetadataActivity"
            android:label="@string/title_activity_source_metadata"
            android:parentActivityName="org.csrdu.bayyina.SourceList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.csrdu.bayyina.SourceList" />
        </activity>

        <service android:name="org.csrdu.bayyina.service.SourceUpdateChecker" />

        <provider
            android:name="org.csrdu.bayyina.helpers.SourceListProvider"
            android:authorities="org.csrdu.bayyina.sources.SourceListProvider" />
        <provider
            android:name="org.csrdu.bayyina.helpers.BayanListProvider"
            android:authorities="org.csrdu.bayyina.bayans.BayanListProvider" />

        <activity
            android:name="org.csrdu.bayyina.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName="org.csrdu.bayyina.SourceList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.csrdu.bayyina.SourceList" />
        </activity>
    </application>

</manifest>
